<div class="modal-container">
  <div class="modal-content">
    <h2>{{ mode === 'create' ? 'Add New Animal' : 'Edit Animal' }}</h2>
    <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
      <!-- Name Field -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="animalForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <!-- Species Field -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Species</mat-label>
        <input matInput formControlName="species" required />
        <mat-error *ngIf="animalForm.get('species')?.hasError('required')">
          Species is required
        </mat-error>
      </mat-form-field>

      <!-- Picture Field -->
<!--      <mat-form-field appearance="outline" class="input-field">-->
<!--        <mat-label>Picture</mat-label>-->
<!--        <input matInput formControlName="picture" />-->
<!--      </mat-form-field>-->
      <input type="file" id="file" (change)="onFileSelected($event)" />



      <!-- Owner Field -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Owner</mat-label>
        <input matInput formControlName="owner" required />
        <mat-error *ngIf="animalForm.get('owner')?.hasError('required')">
          Owner is required
        </mat-error>
      </mat-form-field>

      <!-- Button Group -->
      <div class="button-group">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="animalForm.invalid"
        >
          {{ mode === 'create' ? 'Add Animal' : 'Update Animal' }}
        </button>
        <button mat-button color="warn" type="button" (click)="close.emit()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>


