<div class="animal-cards-container">
  <ng-container *ngIf="animals$ | async as animals; else loading">
    <div *ngFor="let animal of animals" class="animal-card">
      <div class="animal-picture">
        <img [src]="animal.picture" alt="{{ animal.name }}" />
      </div>
      <div class="animal-info">
        <h3 class="animal-name">{{ animal.name }}</h3>
        <p class="animal-species"><strong>Species:</strong> {{ animal.species }}</p>
        <p class="animal-owner"><strong>Owner:</strong> {{ animal.owner.name }}</p>
      </div>
      <div class="animal-actions">
        <button mat-button class="edit-button" color="primary" (click)="openNewUpdateModal('edit', animal)">Edit</button>
        <button mat-button class="history-button" color="secondary" (click)="openTreatmentLogModal(animal)">History</button>
        <button mat-button class="delete-button" color="warn" (click)="deleteAnimal(animal.aid)">Delete</button>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <p>Loading animals...</p>
  </ng-template>
</div>

<div class="add-animal-button">
  <button mat-raised-button class="new-animal-button" color="primary" (click)="openNewUpdateModal('create')">+ New Animal</button>
</div>

<!-- New/Update Modal -->
<ng-container *ngIf="isNewUpdateModalOpen">
  <app-form-pop-up
    [mode]="modalNewUpdateMode"
    [animal]="selectedAnimal"
    (close)="closeNewUpdateModal()">
  </app-form-pop-up>
</ng-container>

<!-- TreatmentLog modal -->
<p></p>
<p></p>
<ng-container *ngIf="isTreatmentLogModalOpen">
  <app-treatment-log
    [animal]="selectedAnimal"
    (close)="closeTreatmentLogModal()">
  </app-treatment-log>
</ng-container>
